@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);

$primaryBlue: rgba(28, 100, 115, 1);
$lightBlue: rgba(84, 189, 222, 1);
$targetRed: rgba(127, 25, 5, 1);
$darkGray: rgba(118, 120, 122, 0.5);


html,
body {
  font-family: "Fira Code";
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/cover.jpg");
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.title {
  text-align: center;
  font-size: 2.5em;
}

#brand {
  border: solid 2px $lightBlue;
  background-color: $primaryBlue;
  height: 120%;
  width: 100%;
}

/* CSS Grid */

.wrapper {
  display: grid;
}

.container {
  display: grid;
  grid-gap: 25px 25px;
  grid-template-columns: 15vw 30vw;
  grid-template-rows: 15vw 15vw;
  grid-template-areas:
    "controls opponent"
    "player opponent"
    ;
  max-width: 45vw;
  margin: 10vh auto;
}

#player {
  grid-area: player;
}

#opponent {
  grid-area: opponent;
}

#controls {
  grid-area: controls;
  overflow: hidden;
}

#buttons {
  grid-area: buttons;
}

.reset {
  display: inline-block;
  width: 10vw;
  height: 3vW;
  color: $lightBlue;
  background-color: $darkGray;
  border: 0.21vw solid $primaryBlue;
  font-size: 0.8vw;
  font-weight: bold;
  margin:0px auto;
  text-align:center
}


/* Board */

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

td {
  position: relative;
  border: 1px solid $primaryBlue;
  margin: 0;
  padding: 0;
  height: 10%;
  width: 10%;
}

#opponent td:hover {
  background-color: $lightBlue;
}

.ship {
  background-color: $lightBlue;
  height: 100%;
  position: relative;
  z-index: 2;
}

td .ship:hover {
  background-color: $darkGray;
}

.peg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}

.peg.hit {
  background-color: $targetRed;
}

.peg.miss {
  background-color: $primaryBlue;
}

/* UI */

#feed {
  height: inherit;
  font-size: 0.9em;
  overflow: hidden;
  padding-left: 1vw;
}

#feed :first-child {
  color: $lightBlue;
}

.shake {
  animation: shake 0.5s;
}
.logs {
  width: 100%;
  height: 100%;
  background-color: rgba(118, 120, 122, 0.5);
}

// from https://www.w3schools.com/howto/howto_css_shake_image.asp
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
